body{
    background-image:url(images/background.jpg);
    text-align: center;
    }

    
    .icon-bar {
      width: 100%; /* Full-width */
      background-color: #555; /* Dark-grey background */
      overflow: auto; /* Overflow due to float */
    }
    
    .icon-bar a {
      float: left; /* Float links side by side */
      text-align: center; /* Center-align text */
      width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
      padding: 12px 0; /* Some top and bottom padding */
      transition: all 0.3s ease; /* Add transition for hover effects */
      color: white; /* White text color */
      font-size: 36px; /* Increased font size */
    }
    
    .icon-bar a:hover {
      background-color: #8fc6bf; /* Add a hover color */
    }
    
    .active {
      background-color: #95cab7; /* Add an active/current color */
    }
    
    .active {
      background-color: #74a291;}
      
      
      
      /* Add an active/current color */
   /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 45%; /* Full width */
    padding: 10px; width: ;/* Some padding */ 
    border: 1px solid #242222; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    margin-left: 20px;
    margin-right: 20px;
     vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

.flex-container{
  text-align: center;
  opacity:100%;
 margin-left: 50px;
 margin-top: 50px;
 text-align: center;
 float:inline-start ;
 position:relative;
 flex-direction: row;
}

.container{
  background-color: #b2b0b0;
  opacity: 100%;
  border-radius: 50px;
  display: inline-block;
}


 #embedmap-canvas img{max-width:none!important;background:none!important;font-size: inherit;font-weight:inherit;}


