body{
background-image:url(images/background.jpg);
text-align: center;
}

.icon-bar {
  width: 100%; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #76b4ad; /* Add a hover color */
}

.active {
  background-color: #5d8f7d; /* Add an active/current color */
}

.active {
  background-color: #74a291; /* Add an active/current color */}
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  p{
    font-size:40px;
    font-family: monospace;
    font-weight: bolder;
  }
  .fa fa-facebook{
text-align: right;
  }
  h1{
    font-size: 100px;
    font-family: monospace;
  }
  <i class='fab fa-google' style='font-size:48px;color:red'></i>